<!doctype html>
<html>
	<head>
		<title>睿思统计</title>
		<meta charset = "UTF-8">
		<link rel="stylesheet" href="style.css" type="text/css" />
	</head>

	<body>
	<div class="content">
		<h1>睿思历史数据统计</h1>
		<h2>2012年~2014年每月种子下载统计</h2>
		<figure>
      		<embed type="image/svg+xml" src="./history/month_ave.svg" />
    	</figure>
    	<figure>
      		<embed type="image/svg+xml" src="./history/month_all.svg" />
    	</figure>
    	<h2>2012年~2014年每月种子下载累积量统计</h2>
		<figure>
      		<embed type="image/svg+xml" src="./history/2012_day_add.svg" />
    	</figure>
    	<figure>
      		<embed type="image/svg+xml" src="./history/2013_day_add.svg" />
    	</figure>
    	<figure>
      		<embed type="image/svg+xml" src="./history/2014_day_add.svg" />
    	</figure>
    	<h2>最近2月每日种子下载统计</h2>
		<figure>
      		<embed type="image/svg+xml" src="./history/2014_11mon.svg" />
    	</figure>

    	<h2>最近7周每日种子下载统计</h2>
		<figure>
      		<embed type="image/svg+xml" src="./history/2014_week.svg" />
    	</figure>

    	<h2>最近1周每日每时下载统计</h2>
		<figure>
      		<embed type="image/svg+xml" src="./history/2014_11_hours_add.svg" />
    	</figure>
    	
    	
	</div>
	</body>
</html>
