<!doctype html>
<html>
	<head>
		<title>睿思统计</title>
		<meta charset = "UTF-8">
		<link rel="stylesheet" href="style.css" type="text/css" />
	</head>

	<body>
	<div class="content">
		<h1>睿思种子信息统计</h1>
		<h2>所有种子信息分类情况统计(种子个数)</h2>
		<figure>
      		<embed type="image/svg+xml" src="./torrent/top_class.svg" />
    </figure>
    <figure>
          <embed type="image/svg+xml" src="./torrent/dianying.svg" />
    </figure>
    <figure>
          <embed type="image/svg+xml" src="./torrent/juji.svg" />
    </figure>
    <figure>
          <embed type="image/svg+xml" src="./torrent/yinyue.svg" />
    </figure>
    <figure>
          <embed type="image/svg+xml" src="./torrent/dongman.svg" />
    </figure>
    <figure>
          <embed type="image/svg+xml" src="./torrent/youxi.svg" />
    </figure>
    <figure>
          <embed type="image/svg+xml" src="./torrent/zongyi.svg" />
    </figure>
    <figure>
          <embed type="image/svg+xml" src="./torrent/tiyu.svg" />
    </figure>
    <figure>
          <embed type="image/svg+xml" src="./torrent/ruanjian.svg" />
    </figure>
    <figure>
          <embed type="image/svg+xml" src="./torrent/qita.svg" />
    </figure>
    <figure>
          <embed type="image/svg+xml" src="./torrent/xuexi.svg" />
    </figure>
    <figure>
          <embed type="image/svg+xml" src="./torrent/jilu.svg" />
    </figure>
	</div>
	</body>
</html>
